{% extends 'base.html.twig' %} {% block body %}

<h1>
    Profil používateľa {% if app.user.firstName %}
    {{ app.user.firstName }} {{ app.user.lastName }}
    {% else %}
    {{ app.user.email }}
    {% endif %}
</h1>

<a href="{{ path('profile_edit') }}">Profile Settings</a>

<h2>My Services</h2>
<ul>
    {% for service in services %}
    <li>{{ service.name }}</li>
    {% else %}
    <li>No services</li>
    {% endfor %}
</ul>
{% endblock %}
